/* CSS declarations go here */
nav {
  background: #425F9C;
}

div.headerText {
  text-align: center;
  font-size: 30px;
  color: white;
}

#postLinks {
  margin-top: 10px;
}

table {
  margin-top: 10px;
}

a.fbLoginBtn {
  background: #30446E;
  color: white;
}